DATABASE_URL="postgresql://postgres.PROJECT_REF:PASSWORD@aws-0-REGION.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:PASSWORD@db.PROJECT_REF.supabase.co:5432/postgres"
APP_BASE_URL="http://localhost:3000"
POSTMARK_SERVER_TOKEN="POSTMARK_SERVER_API_TOKEN"
POSTMARK_FROM_EMAIL="FriendlyFire <login@example.com>"
POSTMARK_MESSAGE_STREAM="outbound"
